# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads dependencies to.
/deps/

# Where third-party dependencies like ExDoc output generated documentation.
/doc/

# ElixirLS local project state.
/.elixir_ls/

# Temporary fetch marker used by some Mix workflows.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via `mix archive.build`).
*.ez

# Ignore package tarball (built via `mix hex.build`).
gitignore-*.tar

# Ignore unpacked package inspection output (built via `mix hex.build --unpack`).
/gitignore-*/

# Temporary files, for example, from tests.
/tmp/

# Dialyzer PLT files.
/priv/plts/*.plt
/priv/plts/*.plt.hash

*.beam
.DS_Store
